<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>{{ config.title }}</title>
  
  <link rel="pgpkey" href="/pubkey.asc" type="application/pgp-keys"/>
  
  <link rel="preload" href="{{ get_url(path='css/style.css') }}" as="style">
  <link rel="stylesheet" href="https://raw.githack.com/Speyll/suCSS/main/reset-min.css" crossorigin="anonymous">
  <link rel="stylesheet" href="https://raw.githack.com/Speyll/suCSS/main/suCSS-min.css" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ get_url(path='css/style.css') }}">
  <link rel="stylesheet" href="{{ get_url(path='css/custom.css') }}">
</head>

<body>
  <main>
	  {% block content %}{% endblock %}
  </main>
  
  <footer>
	  {% include "footer.html" %}
  </footer>
</body>

</html>
