<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ config.title }}</title>
  
  <link rel="pgpkey" href="/pubkey.asc" type="application/pgp-keys"/>
  
  <meta property="og:title" content="Corey – Functional programmer in Portland, OR"/>
  <meta property="og:description" content="I&#x27;m a software engineer based in Portland, OR. I work with Haskell, TypeScript, and Nix to build human-centered experiences for the web."/>
  <meta property="og:type" content="profile"/>
  <meta property="og:url" content="https://zx.dev/"/>
  <meta property="og:image" content="https://www.gravatar.com/avatar/d775128f57dc1b7e32ca11cafef777ef"/>
  <meta property="og:image:alt" content="Photo of Corey"/>
  <meta property="og:locale" content="en_US"/>
  <meta property="og:site_name" content="zx.dev"/>
  <meta property="og:type" content="profile"/>
  <meta property="og:profile:first_name" content="Corey"/>
  <meta property="og:profile:last_name" content="Johns"/>
  <meta property="og:profile:username" content="stackptr"/>
  
  <link rel="preload" href="{{ get_url(path='css/style.css') }}" as="style">
  <link rel="stylesheet" href="https://raw.githack.com/Speyll/suCSS/main/reset-min.css" crossorigin="anonymous">
  <link rel="stylesheet" href="https://raw.githack.com/Speyll/suCSS/main/suCSS-min.css" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ get_url(path='css/style.css') }}">
  <link rel="stylesheet" href="{{ get_url(path='custom.css') }}">
  
  <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🌐</text></svg>">
</head>

<body>
  {% set current_lang = config.default_language %}
  {% if page %}
  {% set current_lang = page.lang %}
  {% elif section %}
  {% set current_lang = section.lang %}
  {% endif %}
  <nav id="nav-bar">
      {% for nav_item in config.extra.header_nav %}
      <a href="{{ nav_item.url }}" class="{% if current_url is defined and nav_item.url == current_url %}active{% endif %}">
          {% set language_key = 'name_' ~ current_lang %}
          {{ nav_item[language_key] }}
      </a>
      {% endfor %}
  
      <div class="theme-toggle" id="theme-toggle" role="button" tabindex="0" aria-label="Toggle theme"
          data-icon-base="{{ get_url(path='icons.svg') }}"
          data-icon-dark="#darkMode"
          data-icon-light="#lightMode"
          data-sound-src="{{ get_url(path='click.ogg') }}">
          <svg class="icon">
              <use id="theme-icon"></use>
          </svg>
      </div>
  </nav>
  <main>
	  {% block content %}{% endblock %}
  </main>
  
  <footer>
	  {% include "footer.html" %}
  </footer>
  
  <script src="{{ get_url(path='js/script.js') }}" defer></script>
</body>

</html>
